<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EPL</key>
	<array>
		<string>Hull_City_AFC.png</string>
		<string>Leicester02.png</string>
		<string>FC_Southampton.png</string>
		<string>Watford.png</string>
		<string>Middlesbrough_FC_crest.png</string>
		<string>Stoke_City.png</string>
		<string>Everton_FC.png</string>
		<string>Tottenham_Hotspur.png</string>
		<string>Crystal_Palace_F.C._logo_(2013).png</string>
		<string>West_Bromwich_Albion.png</string>
		<string>Burnley_FC_badge.png</string>
		<string>Swansea_City_Logo.png</string>
		<string>Manchester_City_FC_badge.png</string>
		<string>AFC_Sunderland.png</string>
		<string>Afc_bournemouth.png</string>
		<string>Manchester_United_FC.png</string>
		<string>Arsenal_FC.png</string>
		<string>FC_Liverpool.png</string>
		<string>Chelsea_crest.png</string>
		<string>West_Ham_United_FC.png</string>
	</array>
	<key>BBVA</key>
	<array>
		<string>FC_Málaga.png</string>
		<string>Atletico_Osasuna.png</string>
		<string>Deportivo_Alaves_logo.png</string>
		<string>SD_Eibar_logo.png</string>
		<string>Fc_barcelona.png</string>
		<string>Real_Betis.png</string>
		<string>Granada_CF.png</string>
		<string>Villarreal_CF_logo.png</string>
		<string>Sevilla_cf_200px.png</string>
		<string>RCD_Espanyol_De_Barcelona.png</string>
		<string>Real_Sporting_de_Gijon.png</string>
		<string>Athletic_Club_Bilbao.png</string>
		<string>Real_Sociedad_San_Sebastián.png</string>
		<string>Real_Madrid_Logo.png</string>
		<string>Atletico_Madrid_logo.png</string>
		<string>Deportivo_Alaves_logo.png</string>
		<string>Celta_Vigo.png</string>
		<string>180px-Club_Deportivo_Leganés.png</string>
		<string>FC_Valencia.png</string>
		<string>UD_Las_Palmas_logo.png</string>
	</array>
	<key>Bundes</key>
	<array>
		<string>Logo_FC_Bayern_München.png</string>
		<string>SV-Werder-Bremen-Logo.png</string>
		<string>Logo_FC_Augsburg.png</string>
		<string>Logo-VfL-Wolfsburg.png</string>
		<string>Borussia_Dortmund_logo.png</string>
		<string>FSV_Mainz_05_Logo.png</string>
		<string>Eintracht_Frankfurt_Logo.png</string>
		<string>1024px-FC_Schalke_04_Logo.png</string>
		<string>HSV-Logo.png</string>
		<string>FC-Ingolstadt_logo.png</string>
		<string>Fc_cologne.png</string>
		<string>Svdarmstadt98.png</string>
		<string>Borussia_Mönchengladbach_logo.png</string>
		<string>Bayer_04_Leverkusen_Logo.png</string>
		<string>Hertha_BSC_Logo_2012.svg.png</string>
		<string>SC-Freiburg_Logo-neu.png</string>
		<string>Logo_TSG_Hoffenheim.svg.png</string>
		<string>RB_Leipzig_2010_logo.png</string>
	</array>
	<key>Seria</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>Ligue1</key>
	<array>
		<string>SC_Bastia.png</string>
		<string>49e40e3bf70620d0378105bde37e7df5.png</string>
		<string>AS_Monaco.png</string>
		<string>EA_Guingamp_Logo.png</string>
		<string>Girondins_Bordeaux_Logo.png</string>
		<string>AS_Saint-Etienne_(aktuell).png</string>
		<string>LogoSmc2013.png</string>
		<string>FC_Lorient_neu.png</string>
		<string>FCO_Dijon.png</string>
		<string>FC_Nantes_(seit_2008).png</string>
		<string>FC_Metz_Logo.png</string>
		<string>LOSC_Lille_Crest_2012.png</string>
		<string>HSC_Montpellier_Logo.png</string>
		<string>SCO_Angers.png</string>
		<string>AS_Nancy_Logo.png</string>
		<string>Olympique_Lyon.png</string>
		<string>Logo OGC Nice.png</string>
		<string>Stade_Rennais_Football_Club.png</string>
		<string>Olympique_Marseille_Logo.png</string>
		<string>FC_Toulouse_Logo.png</string>
	</array>
	<key>CL</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
